/* header */
header {
    background-color: #881738;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 999;
    height: 60px;
    opacity: 1;
    padding-top: 15px;
}


.header nav {
    background-color: #881738;
    padding-left: 70px;
}

.header p {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.header ul {
    padding-right: 50px;
}

.menu li a {
    text-decoration: none;
    color: #000;
    padding-bottom: 5px;
}


/* Top */
.top-wrapper {
    background-image: url(img/IMG_0650.jpeg);
    height: 700px;
    background-size: cover;
}

.top-text {
    text-align: center;
    padding-top: 100px;
}

.top-text h1 {
    font-size: 135px;
    font-family: 'Almarai', sans-serif;
    color: #fff;
}

.top-text span {
    background-color: rgba(0, 0, 0, 0.5);
}

.top-text p {
    padding-top: 60px;
    font-size: 20px;
    color: cornsilk;
    font-family: 'Shadows Into Light', cursive;
}


/* About */
.about-wrapper {
    width: auto;
    height: 750px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
    color: whitesmoke;
    font-family: "futera", "memo", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

.about-wrapper h1 {
    text-align: center;
}

.about-left {
    padding-top: 50px;
    padding-left: 50px;
}

.about-left h3 {
    padding-top: 20px;
    padding-left: 45px;
}

.about-left img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-position: left left;
    padding-right: 10px;
}

.about-left h4 {
    padding-left: 30px;
}

.about-left ul {
    padding-top: 20px;
    padding-left: 25px;
    font-size: 20px;
}


#al-li {
    list-style: none;
}


.about-right p {
    font-size: 20px;
    font-family: 'Knewave', cursive;
    padding-top: 50px;
    padding-bottom: 200px;
}

.about-right2 {
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 65px;
}

#twitter {
    font-size: 60px;
    color: #00aced;
    text-decoration: none;
}

#instagram {
    font-size: 60px;
    color: darkred;
}

#mail {
    font-size: 60px;
    color: #db4a39;
}



/* Skills */

.skills-wrapper {
    background-image: url(img/yokosuta1.png);
    background-size: cover;
    padding-bottom: 80px;
    font-family: "futera", "memo", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

.skills-wrapper h1 {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.skills-wrapper h3 {
    background-color: #fff;
    display: inline-flex;
    margin-top: 10px;
    font-family: "futera", "memo", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

.skill-left {
    padding-left: 20px;
    margin: 0 auto;
}

.skill-right {
    padding-left: 40px;
}

.progress-bars {
    height: 40px;
    text-align: center;
    color: whitesmoke;
    background-color: #db4a39;
}

.progress-bars p {
    padding-top: 6px;
    font-size: 20px;
}


/* Works */
.works-wrapper {
    width: 100%;
    height: 800px;
    background-color: #fff;
    font-family: "futera", "memo", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

.works-wrapper h1 {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.works-wrapper a {
    background-color: black;
    align-items: baseline;
    flex-wrap: wrap;
}

.work-release {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}


.work-port img {
    border: 1px #881738 solid;
    box-shadow: 0 0 1px;
    height: 280px;
}

.work-port p {
    text-align: center;
    padding-top: 12px;
}

/* Contact */

.contact-wrapper {
    background-color: black;
    color: white;
    font-family: "futera", "memo", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

.contact-wrapper h1 {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

.contact-form {
    text-align: center;
}

.contact-form label {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.contact-form input {
    width: 60%;
    height: 40px;
    background-color: #fff;
}


.contact-form textarea {
    width: 60%;
    height: 150px;
}

div.contact-wrapper h1 hr {
    border-top: none !important;
}

.twitter-form {
    margin: 30px auto 0 auto;
    width: 30%;
    height: 80%;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 13px;
    padding-left: 13px;
    background-color: gray;
    color: white;
}

.twitter-form i {
    color: white;
}

.twitter-form p {
    text-align: center;
    color: white;
}

.twitter-form a {
    margin: 0 auto;
    background-color: #00aced;
    color: white;
    border-radius: 10px;
}

.twitter {
    padding: 2% 5% 1% 5%;
}

.twitter-form-bottom {
    width: 100%;
    height: 30px;
    background-color: black;
}

/* footer */

footer {
    height: 75px;
    width: 100%;
    background-color: #881738;
    color: white;
}

.footer p {
    padding-top: 24px;
    padding-left: 30px;
}




/* responsive */

@media(max-width: 1000px) {

    .header {
        height: auto;
    }

    .top-text h1 {
        font-size: 120px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .about-wrapper {
        height: ;
    }

    .about-left {
        width: 400px;
    }

    .about-left img {
        text-align: center;
        width: 60%;
        height: 60%;
    }

    .about-right {
        margin: 0;
    }

    .about-right p {
        height: 370px;
    }

    .about-right2 {
        margin-bottom: 30px;
    }

    .works-wrapper {
        height: 900px;
    }

    .work-port {
        width: auto;
        height: auto;
    }

    .work-port img {
        width: 500px;
        text-align: center;
    }

    .contact-form label {
        width: 80%;
    }

    .contact-form input {
        width: 80%;
    }

    .contact-form textarea {
        width: 80%;
    }

    .twitter-form {
        width: 50%;
    }


}




@media(max-width: 768px) {
    .header {
        height: auto;
    }

    .top-text h1 {
        font-size: 95px;
    }


    img {
        max-width: 100%;
        height: auto;
    }

    .about-left ul {
        width: 300px;
    }

    .about-wrapper {
        height: auto;
        text-align: center;
    }

    .about-right {
        width: 100%;
    }

    .about-right p {
        width: 400px;
        margin-left: 40px;
    }

    .about-right2 {
        width: 450px;
    }

    .skill-left,
    .skill-right {
        width: 400px;
    }

    .works-wrapper {
        height: auto;
    }

    .work-port {
        width: auto;
        height: auto;
    }

    .work-port img {
        width: 430px;
    }

    .contact-form label {
        width: 80%;
    }

    .contact-form input {
        width: 80%;
    }

    .contact-form textarea {
        width: 80%;
    }

    .twitter-form {
        width: 60%;
    }
}